*~
auto/
buildpkg/
draftwatermark.aux
draftwatermark.glo
draftwatermark.idx
draftwatermark.ilg
draftwatermark.ind
draftwatermark.log
draftwatermark.pdf
draftwatermark*.sty
draftwatermark.gls
test_draftwatermark-?.*
